.container {
  justify-content: space-around;
  overflow: hidden;
  padding: 15px;
  display: flex;
  color: white;
  background-color: rgb(15, 15, 15);
}
.tainer {
  padding-top: 50px;
  padding-bottom: 40px;
}
.con ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  margin: 0 0 7px -22px;
}
.con ul li {
  list-style: none;
  font-size: 0.8rem;
}
.con ul li img {
  margin-left: -6px;
  object-fit: contain;
  width: 2vw;
  margin-top: 2.5px;
}
h3 {
  font-size: 1rem;
  margin: 0px 0px 10px 10px
}
.tin{
  font-size: 12px;
}
.tin img {
  width: 10vw;
  object-fit: contain;
}
#img {
  object-fit: contain;
  margin-top: 15px;
  margin-right: 25px;
  background-color: white;
  border-radius: 5px;
}
#foot {
  font-size: 14px;
  padding: 12px 0px 15px 0px;
}
@media only screen and (max-width: 530px){
  .tainer{
    width: 530px;
    background: #000;
  }
  .tin img {
    width: 70px;
    object-fit: contain;
}
.tin{
  font-size: 8px;
}
h3 {
  font-size: 12px;
  margin: 5px;
}
.con ul li a {
  text-decoration: none;
  color: white;
  display: flex;
  margin: 0 0 7px -30px;
}
.con ul li {
  font-size: 0.6rem;
}
.con ul li img {
  width: 6vw;
  margin-left:-15px ;

}
 .list{
   align-items: center;
}
#foot {
  font-size: 10px;
  
}
}
  


